html {background-color:black;
		font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; padding:20px;
		text-decoration: none;
		color:#4cafe4;}

    .topbar {
		position:top;
		padding:10px;
		background-color:#4cafe4;
		width:90%;
		color: white;
		border-style: inset;
		border-width: 10px;
		border-color: white;
		font-family:"Helvetica", Verdana, Helvetica, Arial, sans-serif; padding:20px;
		text-align: center;
		font-size: 20px;
		}


	.firstparagraph {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				padding:20px;}
	.secondparagraph {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				padding:20px;}

	#intro {background-color: white;
		position: fixed;
		width: 91%;}

	.img {position:fixed;
		padding:10px;}

	#buttons {background-color:black;
			text-decoration-color: white}