html {background-color:pink;}

.firstparagraph {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				padding:20px;}

#intro {background-color:#833795;}

#about {background-color: orange;
		padding:20px;}