html {
	-moz-box-sizing:border-box;
	box-sizing:border-box;

}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin:0;
}

	#topbar{
		position:fixed;
		padding:10px;
		background-color:pink;
		width:100%;
		}

#topbar p:hover {
	font-family:"Courier New", Courier, monospace;
	text-align: center;
}

	#cat {
		width:40%;
		float:left;
		background-color: deepskyblue; 
		padding:10px;
		}


	#kitten {
		position:absolute;
		background-color: gray;
		bottom:10px
		right:5px;}


	#dog {
		width:20%;
		float:left;
		height:600px; 
		border-style:inset;
		border-width:10px;
		background-color:orange;}


	#bird {
		width:40%;
		float:left;
		background-color: purple; 
		height:600px}

	#footer {
		background:brown;
		color:white;
		padding:20px;
	}


.group:after{
	content:"";
	display:table;
	clear:both;
}