	/* this is how to create something that is both vertically and horizontally centered*/
		.floaty {
		  display: flex;
		  height: 750px; /* Or whatever */
		  background-color:#4cafe4;
		}

		.floatybaby {
		  width: 150px;  /* Or whatever */
		  height: 150px; /* Or whatever */
		  margin: auto;  /* Magic! */
		  text-align: center;
		  color:white;
		  font-size: 40pt;
		}

		.floatybaby a {
			text-decoration: none;
			color: white;
		}
