.gradient {

  /* can be treated like a fallback */
  background-color: #FFF6D0;

  /* will be "on top", if browser supports it */
  background-image: linear-gradient(#FFF6D0, #8CDEED);

  /* these will reset other properties, like background-position, but it does know what you mean */
  background: red;
  background: linear-gradient(#FFF6D0, #8CDEED);

}